.square{
  width: 24px;
  height: 24px;
  padding: 2px;
  background-color: transparent;
  outline: none;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: none;
  border-top: none;
}
.board-row{
  border: 1px solid gray;
  width: fit-content;
}
.game{
  margin-top: 100px;
  margin-left: 20%;
}