.navbar{
    width: 100%;
    height: 100px;
    background: #21325e;
}
.links{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
  }
.togglebtn{
    width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.togglebtn button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  